<div class="max-w-4xl mx-auto mt-10 mx-8 border p-8 rounded-lg">
  <h1 class="text-4xl font-bold text-gray-900 mb-2"><%= @blog_post.title %></h1>
  <p class="text-lg text-gray-700 mb-4"><%= @blog_post.body %></p>
  <p class="text-gray-600 mb-6"><%= @blog_post.created_at.strftime("%B %e, %Y") %></p>

  <%= link_to 'Back to All Posts', root_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>
