<nav class="bg-gray-800 p-4 text-white">
  <ul class="flex space-x-4">
    <li><%= link_to 'Home', root_path, class: "hover:bg-gray-700 rounded px-3 py-2" %></li>
    <li><%= link_to 'Pierwsza', pierwsza_path, class: "hover:bg-gray-700 rounded px-3 py-2" %></li>
    <li><%= link_to 'Druga', druga_path, class: "hover:bg-gray-700 rounded px-3 py-2" %></li>
    <li><%= link_to 'Trzecia', trzecia_path, class: "hover:bg-gray-700 rounded px-3 py-2" %></li>
  </ul>
</nav>
