<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-16 lg:flex  lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl leading-relaxed ">
        Lets build a blog with <strong class="font-extrabold text-red-500 sm:block"> Ruby on Rails </strong> and
        <strong class="font-extrabold text-blue-700 sm:block"> Tailwind CSS </strong>
      </h1>



      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <%= link_to "Create New Post", new_blog_post_path, class: "block w-full rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto uppercase" %>
      </div>
    </div>
  </div>
</section>
<%= render('blog_post') %>
